/* animations.css */

@keyframes sunShine {
  0% {
	-webkit-transform: scale(1, 1);
	transform: scale(1, 1);
  }
  
  100% {
	-webkit-transform: scale(1.2, 1.2);
	transform: scale(1.2, 1.2);
  }
}

@keyframes sunSpin {
  0% {
	-webkit-transform: rotate(0deg);
	transform: rotate(0deg);
  }
  
  100% {
	-webkit-transform: rotate(360deg);
	transform: rotate(360deg);
  }
}
